[Unit]
Description=Echo API Service
After=network.target

[Service]
User=bardia
WorkingDirectory=/home/bardia/Desktop/dotin-edu-tasks/dotin-edu-tasks-project01
Environment=VIRTUAL_ENV=/home/bardia/Desktop/dotin-edu-tasks/dotin-edu-tasks-project01/venv
ExecStart=/home/bardia/Desktop/dotin-edu-tasks/dotin-edu-tasks-project01/venv/bin/python /home/bardia/Desktop/dotin-edu-tasks/dotin-edu-tasks-project01/api/echo_api.py

[Install]
WantedBy=multi-user.target

#############################################
# sudo systemctl daemon-reload
# sudo systemctl enable echo_api.service
# sudo systemctl start echo_api.service
# sudo systemctl start echo_api.service
#############################################